*, html, body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(66, 65, 65);
}

.atas{
    position: relative;
    width: 380px;
    height: 420px;
}

.kotak{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

h1{
    color: aqua;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.05em;
}

.kotak{
    position: relative;
    width: 380px;
    height: 420px;
    background: rgb(55, 58, 58);

    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

h1{
    color: cyan;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2em;
}

.inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputbox input{
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    padding: 15px;
    background: transparent;
    outline: none;
    background-color: rgb(34, 61, 85);
}

span{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(149, 255, 255);
    margin-top: 20px;
    letter-spacing: 0.5em;
    
}
.tombol{
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.tombol:hover{
    background-color: aqua;
    transition: all 1s ease 0s;
    color: #28292d;
}

